<form name="uploadForm" role="form" novalidate [formGroup]="uploadForm" (ngSubmit)="uploadForm.valid && uploadForm.get('uploadedImage')!.value.size <= 500000 && confirmUpload(uploadForm.value)">
    <div class="modal-header">
        <h4 class="modal-title">Upload a new image</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="path" id="field_description"
                   formControlName="description"/>
            <div *ngIf="uploadForm.get('description')!.invalid && (uploadForm.get('description')!.dirty || uploadForm.get('description')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="uploadForm.get('description')?.errors?.maxlength">
                    Description cannot be longer than 500 characters.
                </small>
                <small class="form-text text-danger"
                       *ngIf="uploadForm.get('description')?.errors?.required">
                    Description is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_uploadedImage">Image</label>
            <div>
                <div *ngIf="uploadForm.get('uploadedImage')!.value" class="form-text text-danger clearfix">
                    <span class="pull-left"> {{ uploadForm.get('uploadedImage')!.value.size }} Byte(s)</span>
                    <button type="button" (click)="clearInputImage('uploadedImage', 'file_uploadedImage')" class="btn btn-secondary btn-xs pull-right">
                        <fa-icon icon="times"></fa-icon>
                    </button>
                </div>
                <input type="file" id="file_uploadedImage" (change)="setFileData($event && $event.target.files)" accept="image/jpeg, image/png" />
            </div>
            <input type="hidden" class="form-control" name="uploadedImage" id="field_uploadedImage"
                   formControlName="uploadedImage"/>
            <div *ngIf="uploadForm.get('uploadedImage')!.invalid && (uploadForm.get('uploadedImage')!.dirty || uploadForm.get('uploadedImage')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="uploadForm.get('uploadedImage')?.errors?.required">
                    Image is required.
                </small>
            </div>
            <div>
                <small class="form-text text-danger"
                       *ngIf="uploadForm.get('uploadedImage')!.value && uploadForm.get('uploadedImage')!.value.size > 500000">
                    Image size cannot be more than 500000 Bytes.
                </small>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button type="submit" class="btn btn-primary" [disabled]="!uploadForm.valid">
            <fa-icon icon="file-upload"></fa-icon>&nbsp;<span>Upload</span>
        </button>
    </div>
</form>
