<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-image-heading">Create or edit a Image</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_path">Path</label>
                    <input type="text" class="form-control" name="path" id="field_path"
                           formControlName="path"/>
                    <div *ngIf="editForm.get('path')!.invalid && (editForm.get('path')!.dirty || editForm.get('path')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('path')?.errors?.maxlength">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pictureDescription">Picture Description</label>
                    <input type="text" class="form-control" name="pictureDescription" id="field_pictureDescription"
                           formControlName="pictureDescription"/>
                    <div *ngIf="editForm.get('pictureDescription')!.invalid && (editForm.get('pictureDescription')!.dirty || editForm.get('pictureDescription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pictureDescription')?.errors?.maxlength">
                        This field cannot be longer than 500 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fileType">File Type</label>
                    <input type="text" class="form-control" name="fileType" id="field_fileType"
                           formControlName="fileType"/>
                    <div *ngIf="editForm.get('fileType')!.invalid && (editForm.get('fileType')!.dirty || editForm.get('fileType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fileType')?.errors?.maxlength">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_size">Size</label>
                    <input type="number" class="form-control" name="size" id="field_size"
                           formControlName="size"/>
                    <div *ngIf="editForm.get('size')!.invalid && (editForm.get('size')!.dirty || editForm.get('size')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('size')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('size')?.errors?.min">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('size')?.errors?.max">
                            This field cannot be more than 500000.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('size')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                    <div *ngIf="editForm.get('isActive')!.invalid && (editForm.get('isActive')!.dirty || editForm.get('isActive')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isActive')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
