<div>
    <h2 id="page-heading">
        <span>Images</span>

        <button class="btn btn-primary float-right" (click)="openUploadModal()">
            <fa-icon icon="file-upload"></fa-icon>
            <span class="hidden-sm-down">
            Upload a new Image
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <form name="searchForm" class="form-inline" [formGroup]="searchForm" novalidate (ngSubmit)="search(searchForm.value)">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="form-control-label" for="field_size">Size</label>
                    <input type="text" class="form-control" name="size" id="field_size"
                           formControlName="size"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="form-control-label" for="field_fileType">File Type</label>
                    <select class="form-control" name="fileType" id="field_fileType" formControlName="fileType">
                        <option value="" [disabled]="true" selected>Please Select</option>
                        <option *ngFor="let fileTypeOption of fileTypeOptions" [value]="fileTypeOption.value">{{ fileTypeOption.description }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3 form-group w-100" style="padding-top: 20px">
                <button type="submit" class="input-group-append btn btn-info">
                    <fa-icon icon="search"></fa-icon>
                </button>

                <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                    <fa-icon icon="trash-alt"></fa-icon>
                </button>
            </div>
        </form>
    </div>
    <br>

    <div class="alert alert-warning" id="no-result" *ngIf="!processing && images?.length === 0">
        <span>No images found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="images && images.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span>Path</span></th>
                    <th scope="col"><span>Description</span></th>
                    <th scope="col"><span>File Type</span></th>
                    <th scope="col"><span>Size</span></th>
                </tr>
            </thead>
            <tbody class="search-results" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0" [infiniteScrollThrottle]="1000">
                <tr *ngFor="let image of images ;trackBy: trackId">
                    <td>{{ image.id }}</td>
                    <td>{{ image.path }}</td>
                    <td>{{ image.description }}</td>
                    <td>{{ image.fileType }}</td>
                    <td>{{ image.size }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
